@font-face {
    font-family: "Norse-Bold";
    src: url(Norse-Bold.otf);
}

:root {
    font-family: sans-serif;
}

img, div, span, p, form, input, body, head {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.img {
    background-image: url(dhruvin-pandya-3hXaOp18nQU-unsplash.jpg);
    float: left;
    background-size: cover;
    width: 34vw;
    height: 100vh;
}

button {
    display: block;
}


.logo-div {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
    color: white;
    font-size: 6rem;
    font-family: "Norse-Bold", sans-serif;
    background-color: rgb(0, 0, 0, 60%);
}

.logo-div > img {
    padding: 10px;
    height: 100%;
    width: 120px;
}

.logo-text {
    padding-top: 30px;
}